<div class="phone-list tabcontentpage" [style.display]="active?'':'none'">
  <md-card class="phone-card" *ngFor="let phone of phones">
    <md-card-header>
      <div mat-card-avatar class="mat-card-avatar phone-header-image"></div>
      <md-card-title *ngIf="phone.islocal">{{phone.serialno}}</md-card-title>
      <md-card-title *ngIf="!phone.islocal">{{phone.address}}</md-card-title>
      <md-card-subtitle *ngIf="phone.nickname">{{phone.nickname}}</md-card-subtitle>
      <md-card-subtitle *ngIf="!phone.nickname">Anonymous Phone</md-card-subtitle>
    </md-card-header>
    <!--
    <img md-card-image src="assets/img/icon.png" />
    <md-card-content>
    </md-card-content>
    -->
    <md-card-actions>
      <button md-button (click)="showPhoneDetails(phone)">Details</button>
      <button md-button [disabled]="phone.accessToken?false:true" (click)="shareFiles(phone)">Share File(s)</button>
    </md-card-actions>
  </md-card>
</div>