/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  width: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-root > * {
  align-items: stretch;
}

toolsbar {
  height: 40px;
  line-height: 40px;
  background-color: red;
}

contentview {
  flex: 1;
  background-color: yellow;
}

bottomstatusbar {
  padding: 5px;
  height: 20px;
  line-height: 20px;
  background-color: green;
}
